<h1>Quotes#index</h1>
<ol>
  <% @quotes.each do |quote| %>
    <li> <%= quote.content %> by <%= quote.politician.last_name %> <%= link_to "Edit", edit_quote_path(quote) if user_signed_in? %></li>  
  <% end %>
</ol>
