// Import page-specific CSS files here.
@import "home";
@import "welcome";

a.button {
    background-color: white;
    border: 1px solid black;
    padding: 1em 3em;
    display: flex;
    margin-top: 1em;
    justify-content: center;
    border-radius: 1em;
    width: 80%;
    margin: 1em auto 1em auto;
    color: black;
    max-width: 30em;
}

.button.primary-button {
    background-color: black;
    color: white;
    border-radius: 2em;
    margin-top: 8em;
}

#content {
    padding-bottom: 10vh;
}

body {
    background-image: url("flag2.jpg");
    background-size: 70vh;
    background-position-x: center;
    background-repeat-x: no-repeat;
    background-color: white;
}

@media(min-width: 576px) {
    body {
        background-size: 960px;
    }   
}

@media (min-width: 1200px) {
    body {
        background-size: 1140px;
    }   
}