// Import page-specific CSS files here.
@import "home";
@import "welcome";

input.button,
a.button {
    background-color: $theme-main;
    padding: 1em 3em;
    display: flex;
    margin-top: 1em;
    justify-content: center;
    border-radius: 1em;
    width: 80%;
    margin: 1em auto 1em auto;
    color: $theme-text;
    max-width: 30em;
    text-transform: uppercase;
}

input.button.primary-button,
.button.primary-button {
    background-color: $theme-primary;
    color: $theme-bg;
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#content {
    padding-bottom: 10vh;
}

body {
    background-color: $theme-bg;
}