// Specific CSS for your home-page
.welcome-title {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    margin: 3em 10% 3em 10%;
    width: 80%;

    small {
        color: darkslategray
    }
}
