<div id="footer">
  <hr>
  <p>
  Single people, listen up: If you’re looking for love, want to start dating, or just keep it casual, you need to be on Tinder. 
  <br>
  With over 55 billion matches made, it’s the place to be to meet your next best match. 
  <br>
  Let’s be real, the dating landscape looks very different today, as most people are meeting online. 
  <br>
  With Tinder, the world’s most popular free dating app, you have millions of other single people at your fingertips and they’re all ready to meet someone like you. 
  <br>
  Whether you’re straight or in the LGBTQIA community, Tinder’s here to bring you all the sparks.
  </p>
  <ul>
    <li>Email</li>
    <li>Twitter Link</li>
    <li>Github link</li>
    <li>Disclaimer</li>
  </ul>
  <hr>
  Copyright 2021 | ALl rights reserved
</div>
