<h1> Home. vote now! 🚀</h1>
<% if user_signed_in? %>
 <p> welcome back</p>
 
 <% else %>
 <p>hello, guest</p>
 <% end %>



<%= cl_image_tag("San Francisco",
      width: 400, height: 300, crop: :fill) %> 

<!-- for face detection --> 
<%= cl_image_tag("Obama", 
      width: 200, height: 200, crop: :thumb, gravity: :face) %> 


