<h1 class="welcome-title">Welcome to who is America <br> <small>Find the politician with similar views </small> </h1>

<%= link_to "Create", new_user_registration_path, class: "button"%>
<%= link_to "Login", new_user_session_path, class: "button"%>
<%= link_to "Continue as guest", home_path, class: "primary-button button"%>
