<div id="welcome-bg"></div>
<div id="welcome-content">
    <h1 class="welcome-title">Who is America <br><br> <small>Find the politician with similar views </small> </h1>

    <%= link_to "Create", new_user_registration_path, class: "button"%>
    <%= link_to "Login", new_user_session_path, class: "button"%>
    <br>
    <br>
    <br>
    <%= link_to "Continue as guest", home_path, class: "primary-button button"%>
</div>
