.navbar-lewagon {
  justify-content: space-between;
  background: $theme-main;
  
  a {
    color: $theme-text !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-toggler {
  border-color: $theme-inactive;
}
