<h1>SourceTrackers#index</h1>
<p>Find me in app/views/source_trackers/index.html.erb</p>
<% @source_trackers.each do |source_tracker| %>
<li> <%= source_tracker.name %> - <%= source_tracker.reliability_by_admin %></li>
<% end %>